/**rest**/
body,h1,h2,h3,p,dl,dd,ol,ul,th,td,fieldset,input,button,textarea,form,canvas,audio,video,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary {
margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary {
display:block}
html{font-size:14px;width:100%;height:100%}
body{
	font-family:Arial,Roboto,'Droid Sans','Hiragino Sans GB',STXihei,'sans-serif';
	width:100%;
	-webkit-user-select:none;
	-webkit-touch-callout:none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-text-size-adjust:none;
}
ul,li{list-style:none}
img{border:0}
li,img,label,input{vertical-align:middle}
a{text-decoration:none;outline:0}
em,b{font-style:normal}

body{}

.list{
	width:100%;
	padding:10px 0;
}
.list li{
	display:block;
	margin-bottom:10px;
	box-shadow:0 1px 2px rgba(0,0,0,.1), 0 -1px 2px rgba(0,0,0,.1);
}
.list li img{
	width:100%;
	height:auto;
}


.appue_scale{
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,1);
}
.appue_scale ul{
	position: absolute;
	height: 100%;
	background: red;
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center;
}
.appue_scale li{
	text-align: center;
	font-size: 100%;
}
.appue_scale li:before{
	display: inline-block;
	content: "";
	width: 10px;
	height: 100%;
	background: red;
	vertical-align: middle;
}
.appue_scale li img{
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
}